@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';
@font-face {
	font-family: 'novecento_sans_widebook';
	src: url('fonts/novecentosanswide-book-webfont.woff2') format('woff2'),
	     url('fonts/novecentosanswide-book-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.bg-tartan {
	border-top: double 3px #50c5d8;
	border-bottom: double 3px #50c5d8;
	background-image: url(images/bg-tartan.jpg);
}
.card {
	padding: 5px 10px;
	border-radius: 3px;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.flex-cols {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	max-width: 800px;
	margin-top: -20px;
	margin-bottom: -20px
}
.flex-cols > *{
	margin: 20px;
}
.flex-rows {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-left: -5px;
	margin-right: -5px
}
.flex-rows > *{
	margin: 5px;
}
.two-inputs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: -5px
}
.two-inputs > *{
	width: auto;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin: 5px;
}
.call-to-action {
	margin-top: 40px;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

* {
	box-sizing: border-box;
}
html,
body {
	background-color: #FFF;
	color: #222;
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}
a {
	color: currentColor;
	text-decoration: none
}
a:hover{
	text-decoration: underline;
}
h2 {
	margin-bottom: 40px;
	border-top: double 3px #50c5d8;
	border-bottom: double 3px #50c5d8;
	padding: 5px 10px;
}
h3 {
	margin-bottom: 5px
}
h3 + h4{
	margin-top: 0;
}
h5 {
	margin: 0;
}
h6 {
	margin: 0;
}
hr {
	max-width: 100px;
	border: 0;
	border-bottom: double 3px #50c5d8;
	margin: 40px auto;
}
nav {
	font-family: 'novecento_sans_widebook', 'Nova Cento Sans Wide', sans-serif;
	text-transform: uppercase;
	letter-spacing: .25em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	max-width: none;
	line-height: 2;
	margin-top: 60px
}
nav a{
	margin: 5px;
}
nav a:not(:last-child):after{
	content: "•";
	display: inline-block;
	color: #50c5d8;
	margin-left: .5em;
}
section,
#footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 40px 40px 80px
}
section > header, #footer > header{
	font-family: 'novecento_sans_widebook', 'Nova Cento Sans Wide', sans-serif;
	text-transform: uppercase;
	letter-spacing: .25em;
}
section > div, #footer > div{
	max-width: 600px;
}
#footer {
	font-size: 12px;
	padding: 20px;
}
figure {
	margin: 0;
}

label {
}

label.selectable{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
}

label.selectable:after{
	content: '…';
	width: 0;
	height: 1em;
	line-height: .45em;
	font-size: 2em;
	margin-left: -1em;
	cursor: pointer;
}
.input,
input,
textarea,
.btn,
button,
select {
	display: inline-block;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	padding: 5px 8px;
	border: solid 1px #c4c4c4;
	border-radius: 3px
}
.input:disabled, input:disabled, textarea:disabled, .btn:disabled, button:disabled, select:disabled{
	opacity: .5;
	cursor: not-allowed;
}
textarea {
	min-height: 80px;
	resize: vertical;
}
button {
}
button.input{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background: #FFF;
}
.btn {
	font-family: 'novecento_sans_widebook', 'Nova Cento Sans Wide', sans-serif;
	text-transform: uppercase;
	letter-spacing: .25em;
	background-color: #222;
	color: #c4c4c4;
	padding: 10px 20px;
	cursor: pointer
}
.btn:not(:disabled){
}
.btn:not(:disabled):hover{
	color: #50c5d8;
	border-color: #50c5d8;
	text-decoration: none;
}
.btn-close {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background: none;
	color: inherit;
	line-height: 1em;
	font-size: 36px;
	letter-spacing: 0;
	padding: 0;
	border: 0;
	margin: -2px 5px;
	opacity: .75;
	cursor: pointer
}
.btn-close:hover{
	opacity: 1;
}
.btn-add {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	opacity: .75;
	cursor: pointer
}
.btn-add big{
	font-size: 40px;
	line-height: 1;
	margin: -3px 20px 0 0;
}
.btn-add small{
	width: 100%;
	font-size: 10px;
	text-align: center;
	margin: 3px auto;
}
.btn-add:hover{
	opacity: 1;
	text-decoration: none;
}
.table {
	display: inline-table;
	border: 0
}
.table td{
	padding: 5px 0;
}
.table td:first-child{
	vertical-align: top;
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}
.table ul{
	padding-left: 20px;
}
form {
}
form .input,
	form input,
	form textarea,
	form select{
	width: 100%;
}
form .table td:first-child{
	padding-top: 10px;
	/* @HACK */
}
iframe {
	max-width: 100%;
	border: solid 1px #c4c4c4;
	border-radius: 5px;
}

#top {
	min-height: 75vh
}

#top header{
	width: 100%;
	max-width: 600px;
}

#top img{
	width: 100%;
}
#classes {
}
#classes .classes{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
}
#classes .classes article{
	margin-bottom: 40px;
}
@media (min-width: 640px){
	#classes .classes article{
		-ms-flex-preferred-size: 48%;
		    flex-basis: 48%;
	}
}
#classes hr{
	margin-top: 0;
}

#instructors {
}

#instructors article{
}

#instructors article h3{
	margin-top: 5px;
}

@media (min-width: 600px){
	#instructors article{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	#instructors article figure{
		padding-right: 40px;
	}
	#instructors article.right{
		text-align: right;
	}
	#instructors article.right figure{
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		padding-right: 0;
		padding-left: 40px;
	}
}

.photos-loading {
	display: none;
}
#instafeed {
}
#instafeed > *{
}
#instafeed > * img{
	width: 100%;
	height: auto;
	vertical-align: middle;
}
#instafeed > * a{
	display: inline-block;
	border: solid 1px #c4c4c4;
	border-radius: 3px;
	overflow: hidden;
}
#instafeed > * figcaption{
	font-size: 13px;
	margin-top: 10px;
}
@media (min-width: 600px){
	#instafeed > *{
		-ms-flex-preferred-size: calc(50% - 40px);
		    flex-basis: calc(50% - 40px);
	}
}