:root {
  --lightest: #fff;
  --light: #c4c4c4;
  --dark: #222;
  --primary: #50c5d8;
  --primary-rgb: 80, 197, 216;
  --accent-rgb: 0, 255, 180;

  --small: 600px;
  --medium: 800px;
  @custom-media --small-min (width >= 600px);
  @custom-media --medium-min (width >= 800px);
  @custom-media --small-max (width < 600px);
  @custom-media --medium-max (width < 800px);
  --header-height: 48px;

  --heading: {
    font-family: 'novecento_sans_widebook', 'Nova Cento Sans Wide', sans-serif;
    text-transform: uppercase;
    letter-spacing: .25em;
  };
  --ellipsis: {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 1;
  };
}